@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@300;400;500&display=swap%27);
:root{     
    --white: #FFFFFF;     
    --lightyellow: #FAECD4;     
    --yellow: #FAAC26;     
    --gray: #707070;     
    --darkgray: #343434;     
    --h: 'Merriweather Sans', sans-serif;     
    --p: 'Poppins', sans-serif; 
}